/* Top bar */

#topbar {
    display: flex;
    position: relative;
}

#topbar > h1 {
    margin: 0;
    line-height: 3rem;
    font-size: 1.5rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topbar_icon {
    display: flex;
    box-sizing: content-box; 
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;

    cursor: pointer;
}

.topbar_icon:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#topbar > .topbar_icon:first-child {
    margin-right: auto;
}

/* End of Top bar */

#quiz-container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 800px;
    height: 75%;
    max-height: 500px;
    margin: auto;
    border: 1px solid black;
}