body {
    background: #001b3bf5 url(../images/sea-bg.gif) repeat center;
    background-size: contain;
    height: 100vh;
    margin: 0;

    display: flex;
}

h2 { 
    margin-top: 0;
}

@media screen and (max-aspect-ratio: 955/707) {
    body {
        background-size: cover;
    }
}

input.validation-error {
    border: 2px solid red;
}

p.validation-error {
    color: rgb(255, 88, 88);
}

.validation-message {
    font-size: 0.8rem;
}

/* Top bar */
#topbar {
    display: flex;
    position: relative;
    background-color: white;
    opacity: 0.95;
}

#topbar>h1 {
    margin: 0;
    line-height: 3rem;
    font-size: 1.5rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topbar_icon {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}

.topbar_icon#score {
    width: fit-content;
    padding: 0.5rem 0.75rem;
}

.topbar_icon:not(#score):hover {
    background-color: rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.topbar_icon#score>p,
#points {
    margin-left: 0.5rem;
}

#topbar>.topbar_icon:nth-child(1) {
    margin-right: auto;
}

/* End of Top bar */

/* Game area */
.game-area {
    height: 100%;
    background-color: #001b3bf9;
    color: white;
}

.game-area#end-game>.game-area_container {
    height: fit-content;
}

[data-visible="false"] {
    /* I use "!important" here because this should always override any other styling */
    display: none !important;
}

.game-area_container {
    padding: 2rem 0.75rem;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 576px) {
    .game-area_container {
        padding: 3rem 4rem;
    }
}

/* End of Game area */

/* Instructions screen */
.game-area#instructions {
    padding: 2rem 1rem;
}

@media screen and (min-width:576px) {
    .game-area#instructions {
        padding: 2rem 15%;
    }
}

/* End of Instructions screen */

/* Leaderboard */
#leaderboard_table {
    width: 100%;
    table-layout: fixed;
    margin-top: 0.5rem;
    border-spacing: 0;
}

#leaderboard_table th:first-child {
    width: 1rem;
}

#leaderboard_table tr> :nth-child(2) {
    border-right: 1px solid white;
}

#leaderboard_table tr> :nth-child(3) {
    border-left: 1px solid white;
}

#leaderboard_table th {
    border-bottom: 1px solid white;
}

#leaderboard_table th,
#leaderboard_table td {
    padding: 0.3rem;
}

.game-area#leaderboard>div.game-area_container {
    justify-content: flex-start;
    max-width: 600px;
}

/* End of Leaderboard */

/* Add to leaderboard */

.game-area#submit-score fieldset {
    padding: 2rem;
    text-align: left;
}

.game-area#submit-score fieldset > legend {
    text-align: center;
}

#submit-score_button {
    margin-top: 1rem;
}

.game-area#submit-score input {
    width: 100%;
    height: 2rem;
}

input#username {
    box-sizing: border-box;
    margin-top: 0.5rem;
    outline: none;
}

/* End of Add to leaderboard */

/* Home screen */
.game-area {
    display: flex;
    flex-direction: column;

    position: relative;
}

.game-area#home>.game-area_container {
    padding: 2rem 3rem;
}

.game-area:not(#quiz)>.game-area_container {
    margin: auto;
    text-align: center;

    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-area:not(#quiz) .game-area_container>h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 0;
    color: white;
    font-family: 'Jolly Lodger';
    font-size: 2.5rem;
}

input[type="button"] {
    padding: 0.3rem 2.5rem;
    font-size: 1.2rem;
    border: 0px;
    cursor: pointer;
}

input#start-quiz {
    margin-top: 2rem;
}

/* End of Home screen */

/* Quiz screen */
#quiz-container {
    width: 95%;
    max-width: 800px;
    margin: auto;

    display: flex;
    flex-direction: column;

    box-shadow: #001b3bf5 0 0 1rem 1rem;

    font-size: 1.3rem;
}

#question-box {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1.5rem 0;
}

#question-box h2 {
    text-align: center;
}

#next-button_container {
    position: absolute;
    right: 0;
    bottom: -2rem;
    display: flex;
}

#next-button {
    margin-top: auto;
    transition: opacity 0.6s ease-out;
}

#next-button:not(:hover) {
    opacity: 0.9;
}

#next-button:hover {
    cursor: pointer;
}

#next-button:not(.grey-out):hover {
    transform: scale(1.05);
}

#answers-container {
    padding: 1rem 0;
}

.answer-box {
    background-color: white;
    margin: 1rem 0;
    transition: background-color 0.3s ease-out;
}

.answer-box:not(:hover) {
    opacity: 0.95;
}

.answer-box:hover {
    border: 1px solid black;
    cursor: pointer;
}

.answer-box_text {
    font-weight: 600;
    font-size: 1em;
}

.answer-box_text,
.answer-box_desc {
    height: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.answer-box_desc {
    font-size: 0.9em;
    margin-top: -0.6em;
    padding: 0.8rem;
    text-align: center;
    height: fit-content;
}

.incorrect-answer {
    background-color: #ff6075;
}

.correct-answer {
    background-color: #7fff92;
}

.grey-out {
    opacity: .4 !important;
    transition: opacity 0.1s;
}

#timer {
    width: 100%;
    height: 0.2rem;
    margin: 0.5rem 0;
    background-color: white;
    position: relative;
}

#timer>div {
    position: absolute;
    z-index: 1;
    background-color: rgb(16 117 223);
    width: 100%;
    height: 100%;
    transition: width 0.8s ease;
}

@media screen and (min-width:576px) {
    #question-box {
        margin: 2.5rem 0;
    }

    #question-box>h2 {
        max-width: 80%;
    }

    #next-button {
        margin: auto;
    }
}

/* End of Quiz screen */

/* End-screen */

#correctOutOf {
    font-size: 1.6em;
    margin: 1.8rem 0;
}

.game-area#end-game h1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    line-height: 1em;
    font-size: 2.6rem;
}

/* End of End-screen */